<!-- <div>
<h2><ng-pluralize
  count="Cart.cart.length"
  when="{'0': 'No Items in Cart',
        'one': '',
        'other': ''}"
  >
</ng-pluralize></h2>
</div> -->
<div class="container">
<h1>Your Order</h1>
<h2>Your Order Subtotal: <small style="float: right;">{{Cart.subtotal/ 100 | currency}}</small></h2>
<div class="row">
<table class="table-bordered">
  <th class="col-md-6">Product</th>
  <th class="col-md-1">Quantity</th>
  <th class="col-md-2">Sub-Total</th>
  <th class="col-md-2"></th>
  <tr ng-repeat="tea in Cart.cart" ng-init="tea.orderQuan = true">
    <td>
      <h2>{{tea.item.name}}</h2>
      <img ng-src="{{tea.item.imageUrl}}"/>
      <p><strong>Caffeine Scale: </strong>{{tea.item.caffeineScale}}</p>
      <p><strong>Ingredients: </strong>{{tea.item.ingredients}}</p>
      <p><strong>Rating: </strong>{{tea.item.rating}}</p>
      <p><strong>Price per item: </strong>{{tea.item.price/100 | currency}}</p>
    </td>
    <td>
      <div ng-show="tea.orderQuan">{{tea.quantity}}</div>
      <div>
        <input ng-show="tea.showEdit" type="number" class="form-control" ng-model="tea.quantity" min=1>
      </div>
    </td>
    <td>{{(tea.item.price) * (tea.quantity)/100 | currency}}</td>
    <td>
      <div>
      <button ng-click="Cart.edit(tea)" class="buttonSpacing btn btn-warning">Edit</button>
      <button ng-click = "Cart.deleteTea(tea)" class="buttonSpacing btn btn-danger">Remove</button>
      <button ng-show="tea.showEdit" ng-click="Cart.save(tea)" class="buttonSpacing btn btn-default">Save</button>
    </div>
    </td>
  </tr>
</table>
</div>
</div>
